<!DOCTYPE html>
<html lang="en">
<head>
    {% load static from staticfiles %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
  <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="opensource jquery bootstrap editable table spreadsheet" />
    <meta name="description" content="This tiny jQuery bootstrap plugin turns any table into an editable spreadsheet" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.css" />
    <link href="http://maxcdn.bootstrapcdn.com/twitter-bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
		<link href="http://maxcdn.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">
    <style>
        html, body{
            height: 100%;
        }
        .innerDiv{
            border-radius: 5px;
            border: 2px solid 	#A0A0A0;
            width: 100%;
            height: 100%;
            position: relative;
        }
        .innerOuterDiv{
            padding: 3px;
            width:100%;
            height:100%;
        }
        .bottomMenuDiv{
            //border: 1px solid 	#A0A0A0;
            width:100%;
            height:20%;
            position:absolute;
            bottom : 0;
            padding:5px;
        }
        .headerDiv{
            border-radius: 5px;
            background-color: lightblue;
            width:100%;
            height:100%
        }
        .disableImage{
            opacity: 0.2
        }
        .enableImage{
            opacity: 1.0
        }
        a:hover {
            cursor:pointer;
        }
        .table-striped>tbody>tr:nth-child(odd).highlightRed{
            background-color: red
        }
        .table-striped>tbody>tr:nth-child(even).highlightRed{
            background-color: red
        }
        table {
    counter-reset: rowNumber;
}

table tbody tr {
    counter-increment: rowNumber;
}

table tbody tr td:first-child::before {
    content: counter(rowNumber);
    min-width: 1em;
    margin-right: 0.5em;
}
        .ui-autocomplete { max-height: 200px; overflow-y: scroll; overflow-x: hidden;}
    </style>
    <title></title>
    <script type="text/javascript">
    {% autoescape off %}
        var items = {{ items }}
        var measuringUnit = {{ measuringUnit }}
        var priceChart = {{ priceChart }}
    {% endautoescape %}
    var items_map = []
    var unavailableItems = []
    var unit_map = {}
    var i=0;
    for(x in items){
        items_map[i] = {}
        items_map[i].label = items[x]['name']
        items_map[i].id = x
        i += 1
        if(items[x]['isAvailable'] == false)
            unavailableItems.push(x)
    }
    for(x in measuringUnit){
        unit_map[x] = []
        for(y in measuringUnit[x]['units']){
            obj = {}
            obj.id = measuringUnit[x]['units'][y]['measurementId']
            obj.label = measuringUnit[x]['units'][y]['name']
            unit_map[x].push(obj)
        }
    }
    function inArrayCaseInsensitive(needle, haystackArray){
        //Iterates over an array of items to return the index of the first item that matches the provided val ('needle') in a case-insensitive way.  Returns -1 if no match found.
        var defaultResult = -1;
        var result = defaultResult;
        $.each(haystackArray, function(index, value) {
            if (result == defaultResult && value.label.toLowerCase() == needle.toLowerCase()) {
                result = value.id;
            }
        });
        return result;
    }
    function cellValue(x,y){
        return $('#salesReceiptTable').find('tr:eq('+(y+1)+')>td:eq('+(x+1)+')')[0].childNodes[0].value;
    }

    function setCellValue(x,y,s){
        $('#salesReceiptTable').find('tr:eq('+(y+1)+')>td:eq('+(x+1)+')')[0].childNodes[0].value = s;
    }
    function reCalculateFormula(i){
        var price = parseFloat(cellValue(3,i) || 0);
        var qty = parseFloat(cellValue(1,i) || 0);
        var total_price = price*qty
        setCellValue(4,i,total_price);
        reCalculateFinalPrice()
    }
    function reCalculateFinalPrice(i){
        console.log('total price')
        rows = document.getElementById('salesReceiptTable').rows
        var total_price = 0
        for(var i=1;i<rows.length;i++){
            if(rows[i].children[5].childNodes[0].value != "")
                total_price += parseFloat(rows[i].children[5].childNodes[0].value)
        }
        $('#totalPrice').val(total_price)
    }
    function updateCellsInfo(qty_input_box, unit_input_box, price_per_input_box, total_price_box, item_id){
        buildAutoCompleteBox($(unit_input_box), unit_map[item_id])
        $(unit_input_box).val(unit_map[item_id][0]['label']) //setting some default unit
        updateCellsForUnitChange(unit_map[item_id][0]['id'], item_id, qty_input_box, price_per_input_box, total_price_box)
    }
    function updateCellsForUnitChange(unit_id, item_id, qty_input_box, price_per_input_box, total_price_box){
        $(price_per_input_box).val(priceChart[item_id][unit_id])
        if($(qty_input_box).val() == ""){
            $(qty_input_box).val("1")
        }
        var price = parseFloat($(price_per_input_box).val() || 0);
        var qty = parseFloat($(qty_input_box).val() || 0);
        var total_price = price*qty
        $(total_price_box).val(total_price)
        reCalculateFinalPrice()
    }
    function highlightRowAsUnavailableItem(row){
        console.log('highlight')
        $(row).addClass('highlightRed')
    }
    function removeRowHighlightProperty(row){
        $(row).removeClass('highlightRed')
    }
    function buildAutoCompleteBox(elem, values_list){
        elem.autocomplete({
            minLength: 0,
            source: function (request, response) {
                var term = $.ui.autocomplete.escapeRegex(request.term)
                    , startsWithMatcher = new RegExp("^" + term, "i")
                    , startsWith = $.grep(values_list, function(value) {
                        return startsWithMatcher.test(value.label || value.value || value);
                    })
                    , containsMatcher = new RegExp(term, "i")
                    , contains = $.grep(values_list, function (value) {
                        return $.inArray(value, startsWith) < 0 &&
                            containsMatcher.test(value.label || value.value || value);
                    });

                response(startsWith.concat(contains));
            },
            change: function( event, ui ) {
                removeRowHighlightProperty($(this).parent().parent())
                val = $(this).val();
                exists = inArrayCaseInsensitive(val, values_list);
                if (exists<0) {
                    $(this).val("");
                    $(this).parent()[0].id = 0
                    return false;
                }
                $(this).parent()[0].id = exists

                if($(this).parent()[0].className == 'orderCell')
                {
                    for(var i=0;i<unavailableItems.length;i++)
                        if(parseInt(exists) == parseInt(unavailableItems[i]))
                            highlightRowAsUnavailableItem($(this).parent().parent())
                    updateCellsInfo($(this).parent().siblings()[1].childNodes[0], $(this).parent().siblings()[2].childNodes[0], $(this).parent().siblings()[3].childNodes[0], $(this).parent().siblings()[4].childNodes[0], exists)
                }
                if($(this).parent()[0].className == 'unitCell'){
                    updateCellsForUnitChange(exists, $($(this).parent().siblings()[1])[0].id, $(this).parent().siblings()[2].childNodes[0], $(this).parent().siblings()[3].childNodes[0] ,$(this).parent().siblings()[4].childNodes[0])
                }
            },
            open: function(event, ui){
                var $input = $(event.target),
                $results = $input.autocomplete("widget"),
                top = $results.position().top,
                height = $results.height(),
                inputHeight = $input.height(),
                newTop = top - height - inputHeight;
                //$results.css("top", newTop + "px");
            }
        });
    }
    function handleEnterKey(row_num){
        if(row_num+1+1 != document.getElementById('salesReceiptTable').rows.length)
            return;
        if(cellValue(0,row_num) != "" && cellValue(1,row_num) != "" && cellValue(2,row_num) != "" && cellValue(3,row_num) != "" && cellValue(4,row_num) != "")
            createNewRow() //only if their is no other row below
    }
    function clearAllRowSelection(row){
        children = row.children()
        $(children[1].childNodes[0]).val('')
        $(children[2].childNodes[0]).val('')
        $(children[3].childNodes[0]).val('')
        $(children[4].childNodes[0]).val('')
        $(children[5].childNodes[0]).val('')
    }
    function deleteRow(obj){
        if(document.getElementById('salesReceiptTable').rows.length < 3){
            clearAllRowSelection($(obj).parent().parent())
            return;
        }
        $(obj).parent().parent().remove()
    }
    function createNewRow(){
        var table = document.getElementById('salesReceiptTable')
        insert_row = table.rows.length
        var row = table.insertRow(insert_row);
        var cell1 = row.insertCell(0);
        var cell2 = row.insertCell(1);
        var cell3 = row.insertCell(2);
        var cell4 = row.insertCell(3);
        var cell5 = row.insertCell(4);
        var cell6 = row.insertCell(5);
        var cell7 = row.insertCell(6);
        cell2.innerHTML = '<input type="text" class="orderItem" onkeypress="if(event.keyCode == 13){handleEnterKey(' + (parseInt(insert_row)-1) + ');}"/>'
        cell2.setAttribute('class','orderCell')
        cell3.innerHTML = '<input type="text" class="" onkeypress="if(event.keyCode == 13){handleEnterKey(' + (parseInt(insert_row)-1) + ');}" onchange="reCalculateFormula(' + (parseInt(insert_row)-1) +')"/>'
        cell4.innerHTML = '<input type="text" onkeypress="if(event.keyCode == 13){handleEnterKey(' + (parseInt(insert_row)-1) + ');}"/>'
        cell4.setAttribute('class','unitCell')
        cell5.innerHTML = '<input type="text" onkeypress="if(event.keyCode == 13){handleEnterKey(' + (parseInt(insert_row)-1) + ');}" onchange="reCalculateFormula(' + (parseInt(insert_row)-1) + ')"/>'
        cell6.innerHTML = '<input type="text" onkeypress="if(event.keyCode == 13){handleEnterKey(' + (parseInt(insert_row)-1) + ');}" oninput="reCalculateFinalPrice(' + (parseInt(insert_row)-1) + ')" readonly/>'
        cell7.innerHTML = '<a onclick="deleteRow(this)"><img id="cancel" src="{% static 'images/cancel.png' %}" style="width:15px;height:15px;"/></a>'

        buildAutoCompleteBox($(document.getElementsByClassName('orderItem')), items_map)
    }
    $(document).ready(function(){

        buildAutoCompleteBox($(document.getElementsByClassName('orderItem')), items_map)
    });
    </script>
</head>
<body style="height:100%;position: relative;">
<div id="salesReceiptDiv" style="height:50%;">
    <div class="innerOuterDiv">
         <div id="salesReceiptInnerDiv" class="innerDiv">
             <div style="padding:5px;">
                 <table id="salesReceiptTable" class="table table-striped table-condensed table-bordered" style="line-height:0.6">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Item</th>
                            <th>Qty</th>
                            <th>Unit</th>
                            <th>Price per unit</th>
                            <th>Price</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td></td>
                            <td class="orderCell"><input type="text" class="orderItem" onkeypress="if(event.keyCode == 13){handleEnterKey(0);}"/></td>
                            <td ><input type="text" class="" onchange="reCalculateFormula(0)" onkeypress="if(event.keyCode == 13){handleEnterKey(0);}"/></td>
                            <td class="unitCell"><input type="text" onkeypress="if(event.keyCode == 13){handleEnterKey(0);}"/></td>
                            <td><input type="text" onchange="reCalculateFormula(0)" onkeypress="if(event.keyCode == 13){handleEnterKey(0);}"/></td>
                            <td><input type="text" onchange="reCalculateFinalPrice(0)" onkeypress="if(event.keyCode == 13){handleEnterKey(0);}" readonly/></td>
                            <td><a onclick="deleteRow(this)"><img id="cancel" src="{% static 'images/cancel.png' %}" style="width:15px;height:15px;"/></a></td>
                        </tr>

                    </tbody>
                </table>
             </div>

             <div id="bottomFormDiv" class="bottomMenuDiv">
                 <div style="border: 1px solid 	#A0A0A0;width:100%;height:100%;padding:10px;">
                    <div style="float:right;">
                        <font size="4"><b>Total Price</b></font>
                        <div style="display:inline-block;padding-left:5px;">
                            <img src="{% static 'images/indian-rupee.png' %}" style="width:20px;height:20px;"/>
                            <input id="totalPrice" type="text" style="width:170px"/>
                        </div>
                        <div style="display:inline-block;padding-left:25px;">
                            <button>Print</button>
                        </div>
                    </div>
                 </div>
             </div>
         </div>
    </div>

</div>
<div id="lowerDiv" style="height:50%;width:100%">
    <div class="innerOuterDiv">
        <div id="lowerDivInner" class="innerDiv">
            <div style="width:100%;height:15%;padding:4px">
                <div class="headerDiv">
                    <div style="float:left;padding-left:25px;display:inline-block;">
                        <font size="5"><b>Recent Orders</b></font>
                    </div>
                    <div style="display:inline-block;float:right;padding-right:4px">
                        <font size="3"><b><a href="">Advanced View</a></b></font>
                    </div>
                </div>
            </div>
            <div style="width:100%;height:85%;padding:4px">

                <table id="salesHistoryTable" class="table table-striped table-condensed table-bordered" style="line-height:0.6">
                    <thead>
                        <tr>
                            <th>Receipt No.</th>
                            <th>Time of Order</th>
                            <th>Total Amt.</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>

                </table>
            </div>

        </div>
    </div>
</div>
</body>
</html>